body {
  background-image: url(background.png);
  background-size: cover;
  backdrop-filter: blur(25px);
  font-family: monospace;
}
article h1{
  border-left: 5px solid gray;
  border-radius: 5px;
  padding-left: 10px;
}
article h1:hover{
  border-left: 5px solid black;
  padding-left: 10px;
  filter: blur(1px);
}
section{
  border: 2px solid white;
  padding: 10px;
  margin-bottom: 5px;
}
.rfid {
  padding: 10px;
  width: 14%;
  height: 14%;
}
.echo {
  padding: 10px;
  width: 14%;
  height: 14%;
}
